* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

img {
  width: 550px;
  display: inline-block;
  margin: 18px;
  border: 2px solid black;
  vertical-align: top;
}

.right {
  width: 900px;
  display: inline-block;
  margin-top: 18px;
}

a {
  display: inline-block;
  padding: 10px 24px;
  color: bisque;
  background-color: chocolate;
  margin-top: 36px;
}

h2,
p {
  margin-top: 16px;
}

ul{
    margin-top: 8px;
}

ul li{
    display: inline-block;
    margin-right: 12px;
    margin-bottom: 4px;
}

ol {
  margin-top: 8px;
  margin-left: 18px;
}

